@font-face {
  font-family: 'nbgie';
  src: url('NANUMBARUNGOTHIC.TTF.eot');
  src: url('NANUMBARUNGOTHIC.TTF.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nbg';
  src: url('NanumBarunGothic.woff') format('woff'),
       url('NanumBarunGothic.svg#NanumBarunGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

