@font-face { font-family: 'NIXGONM-Vb'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff'); font-weight: normal; font-style: normal; }
p {
    font-family: 'Noto Sans KR', sans-serif;
    color: grey;
}
a {
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
    color: grey;
}
body {
    background-color: black;
}
footer {
    font-family: 'Noto Sans KR', Sans-serif;
    height: 70px;
    position:absolute;
    bottom: 10px;
    color: grey;
}
.pbmenu {
    font-family: 'NIXGONM-Vb', sans-serif;
    text-align: center;
    display: inline;
    font-size: 110%;
    color: grey;
}
.pbtitle {
    font-family: 'NIXGONM-Vb', sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 720%;
    color: grey;
}
.pbtitle2 {
    font-family: 'NIXGONM-Vb', sans-serif;
    text-align: right;
    text-decoration: none;
    color: grey;
    font-size: 200%;
}
.pbheader {
    text-align: right;
    color: grey;
    position: absolute;
    margin-top: -80px;
    margin-left: -20px;
}
.icons {
    color: grey;
}
.pbspace {
    font-family: 'NIXGONM-Vb', sans-serif;
    color: grey;
    text-decoration: none;
}
